<div>
    <div class="character">
        <h3>{{hero.name}}</h3>
        <p>
            Your character's name is <input type="text" [(ngModel)]="hero.name"
                [ngStyle]="{width: hero.name.length+ 3 +'ch'} ">.
            They are a <input type="text" [(ngModel)]="hero.gender" [ngStyle]="{width: hero.gender.length+ 3 +'ch'}">
            &nbsp;
            <input type="text" [(ngModel)]="hero.race" [ngStyle]="{width: hero.race.length+ 3 +'ch'}">&nbsp;
            <input type="text" [(ngModel)]="hero.classType" [ngStyle]="{width: hero.classType.length+ 3 +'ch'}"> with
            <input type="text" [(ngModel)]="hero.hairColor" [ngStyle]="{width: hero.hairColor.length+ 3 +'ch'}"> hair,
            <input type="text" [(ngModel)]="hero.skinTone" [ngStyle]="{width: hero.skinTone.length+ 3 +'ch'}"> skin and
            <input type="text" [(ngModel)]="hero.eyeColor" [ngStyle]="{width: hero.eyeColor.length+ 3 +'ch'}"> eyes.
        </p>
        <!-- add a p about their stats in sentence format -->

        <p>
            Their stats are:
        </p>

        <p>Stat points remaining to be assigned: {{remaining}}</p>

        <table (change)="adjustRemaining()">
            <tr>
                <td>
                    Strength:
                </td>
                <td>
                    <input type="number" [(ngModel)]="hero.strength">
                </td>
            </tr>
            <tr>
                <td>
                    Dexterity:
                </td>
                <td>
                    <input type="number" [(ngModel)]="hero.dexterity">
                </td>
            </tr>
            <tr>
                <td>
                    Intelligence:
                </td>
                <td>
                    <input type="number" [(ngModel)]="hero.intelligence">
                </td>
            </tr>
            <tr>
                <td>
                    Charisma:
                </td>
                <td>
                    <input type="number" [(ngModel)]="hero.charisma">
                </td>
            </tr>
            <tr>
                <td>
                    Wisdom:
                </td>
                <td>
                    <input type="number" [(ngModel)]="hero.wisdom">
                </td>
            </tr>
            <tr>
                <td>
                    Willpower:
                </td>
                <td>
                    <input type="number" [(ngModel)]="hero.willpower">
                </td>
            </tr>
            <tr>
                <td>
                    Constitution:
                </td>
                <td>
                    <input type="number" [(ngModel)]="hero.constitution">
                </td>
            </tr>
        </table>


        <button (click)="saveCharacter()" [disabled]="!valid" *ngIf = "newChar">Save Character</button>
        <button (click)="updateCharacter()" *ngIf = "!newChar">Update Character</button>
        <button (click)="levelUp()" *ngIf = "!newChar">Level Up!</button>
        <button (click)="randomize()" *ngIf = "newChar">Randomize Character</button>
        <button (click)="goBack()">Cancel</button>

        <!-- change styles dynamically when input to any of those inputs -->
        <!-- there is a way to change input width to be attribute name.length+x ... 
    I'm thinking dynamically changing the width of inputs to be slightly larger than needed -->

    </div>
</div>